[submodule "tauri-plugin-secure-storage"]
	path = tauri-plugin-secure-storage
	url = https://github.com/markzhang12345/tauri-plugin-secure-storage.git

[submodule "tauri-plugin-taskpilot-inference/taskPilot-InferrenceCore"]
	path = tauri-plugin-taskpilot-inference/taskPilot-InferrenceCore
	url = https://github.com/chuanshanjia666/taskPilot-InferrenceCore.git
